<ion-header [translucent]="true">
  <ion-toolbar class="color-text-center" color="primary">
    <ion-title color="light">
      Busqueda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col size="12">
      <ion-row >
        <ion-searchbar mode="ios" placeholder="Buscarpor nombre"
         (ionInput)="buscar($event)"  showCancelButton="always"></ion-searchbar>
      </ion-row>
    </ion-col>

    <ion-row *ngIf="load">
      <ion-col sizeXs="6" sizeSm="6"  sizeMd="3" sizeLg="2"  *ngFor="let card of misPokemon">
        <app-card-anime [card]="card"></app-card-anime>
      </ion-col>
      <ion-col class="ion-text-center" *ngIf="misPokemon.length < 1" size="12">
        No hay resultados
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
